a {
    text-decoration: none;
    color: white;
}

img {
    border-radius: 50%;
    width: 200;
    height: 200;
}

body {
    background-color: rgb(19, 14, 14);
}
h1 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

.icon{
    width: 36;
    height: 36;
    margin-right: 64;
    margin-top: 2;
    position: relative;
    right: -25;
    
}
.mt-5 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.intro {
    color: rgb(219, 86, 86);
    font-size: 25px;
    text-shadow: rgb(0, 0, 0) 0px 0px 2px;
}

.descript{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20;
    text-shadow:white 0px 0px 6px;
}
.descript p{
    color: rgb(224, 216, 193);
}

.tabel {
    color: white;
}

.head-card{
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.konten{
    width: 100%;
    background-color: #ddd;
}

.skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
}

.html {
    width: 60%;
    background-color: green;
}
.css {
    width: 20%;
    background-color: yellow;
}
.php {
    width: 70%;
    background-color: red;
}
.js {
    width: 15%;
    background-color: orangered;
}

.laravel {
    width: 30%;
    background-color: blueviolet;
}

.bootstrap {
    width: 20%;
    background-color: darksalmon;
}

.project{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}